@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Manrope;
    font-weight: 800;
}

.attribution { 
    margin-top: 50px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root {
    --primary-light-cyan: hsl(193, 38%, 86%);
    --primary-neon-green: hsl(150, 100%, 66%);
    
    --neutral-grayish-blue: hsl(217, 19%, 38%);
    --neutral-dark-greyish-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);
}

body {
    width: 1440px;
    height: 50vh;
    background: var(--neutral-dark-blue);
}

.advice-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 240px;
    margin-left: 25%;
    padding: 50px;
    border-radius: 15px;
    max-width: 800px;
    max-height: 400px;

    background: var(--neutral-dark-greyish-blue);
}

.advice-card #adviceId {
    color: var(--primary-neon-green);
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-weight: 400;
}

.advice-card #advice {
    color: var(--primary-light-cyan);
    text-align: center;
    margin-bottom: 30px;
    width: 70vh;
}

.advice-card button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1000px;
    border: none;
    outline: none;
    background: var(--primary-neon-green);
    margin-top: 65px;

    transition: .2s ease-in-out;
}

.advice-card button:hover {
    box-shadow: 0px 0px 10px var(--primary-neon-green);
    cursor: pointer;
}